@import "~bootstrap/dist/css/bootstrap.min.css";

html {
    background-color: #222;
}

body {
    background-color: #222;
    color: ivory;
    font-family: 'Roboto', sans-serif;
}

span.mod-name {
    color: yellow;
}

span.mod-key {
    color: white;
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
}

span.mod-owner {
    color: limegreen;
}
