.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.modal-main {
    background-color: #222;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid dimgray;
    border-radius: 4px;
    padding-top: 8px;
}

.mod-description {
    height: 73vh;
    overflow-y: scroll;
}