.web-mods-col {
    float: left;
    height: 90vh;
    overflow-y: scroll;
}

.web-mods-toolbar {
    margin-top: 1em;
    margin-bottom: 1em;
}

.loading {
    background-image: url("/static/img/Eclipse_loading.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 128px;
}

.web-mods-toolbar .search-box {
    background-color: #222;
    border: 1px solid #677;
}

.web-mods-toolbar .dropdown-menu {
    background-color: #222;
    border: 1px solid #677;
}

.web-mods-toolbar .dropdown-item {
    color: ivory;
}

.web-mods-toolbar .dropdown-item:hover {
    background-color: #677;
    color: ivory;
}